<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>Instimate</title>
</head>
<body>
    <div class="title">
        <h1>Instimate</h1>
    </div>
    <div class="developers">
        <h2>Developer</h2>
        <button class="btn_cool" onclick="redirectShikatu()">shikatu</button>
    </div>
    <div class="supporters">
        <h2>Supporter</h2>
        <button class="btn_cool" onclick="redirectZoykaa()">zoykaa</button>
    </div>
    <div class="projects">
        <h2>No projects now!(</h2>
    </div>
</body>